<div class="modal modal-activity" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div class="modal-body">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Title
                            <i class="fa fa-info-circle" bs-tooltip="'The reference displayed for this activity in administration & reports.'" data-placement="right"></i>
                        </label>
                        <input class="form-control" type="text" ng-model="item.activ_title"/>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>Label
                            <i class="fa fa-info-circle" bs-tooltip="'The text displayed to the end users, it should be grammatically correct.'" data-placement="right"></i>
                        </label>
                        <input class="form-control" type="text" ng-model="item.activ_label"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="item.activ_daterequired" ng-true-value="1"/>
                            Must provide a date when answering activity
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>
                            Description
                            <i class="fa fa-info-circle" bs-tooltip="'Help text provided to the end users through an <i class=\'fa fa-info-circle\'></i> icon. If left empty, the icon will be hidden.'" data-placement="right" data-html="true"></i>
                        </label>
                        <textarea class="form-control" ng-model="item.activ_description"></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Type</label><br/>
                        <button class="btn btn-default"
                                ng-model="item.activ_config.type"
                                ng-options="i.c as i.l for i in [{c:'BOOL', l:'Boolean'}, {c:'DATE', l:'Date'}, {c:'LIST', l:'List'}, {c:'TEXT', l:'Text'}]"
                                bs-select></button>
                    </div>

                    <!--LIST-->
                    <div ng-if="item.activ_config.type=='LIST'">
                        <h4>
                            Answers
                            <a class="btn btn-success btn-sm pull-right" ng-click="addAnswer()"><i class="fa fa-plus"></i> Add an answer</a>
                        </h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Label <i class="fa fa-info-circle" bs-tooltip="'Value displayed to the user when selecting her answer<br/>(for example: \'Happy\')'" data-placement="right" data-html="true"></i></th>
                                    <th>Stored Value <i class="fa fa-info-circle" bs-tooltip="'Value stored server side and from which reports are drawn (for example: \'5\')'" data-placement="right" data-html="true"></i></th>
                                    <th>Is Positive</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="answer in item.activ_config.answers">
                                    <td><input class="form-control input-sm" ng-model="answer.label"/></td>
                                    <td><input class="form-control input-sm" ng-model="answer.value"/></td>
                                    <td><div class="checkbox"><label><input type="checkbox" ng-model="answer.positive" ng-true-value="1" ng-false-value="0"/> Positive</label></div></td>
                                    <td><a class="btn btn-danger pull-right" ng-click="deleteAnswer(answer)"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-warning" ng-show="!item.activ_config.answers.length">
                            You can add a new answer to this activity by using the <a class="btn btn-success btn-sm" ng-click="addAnswer(answer)"><i class="fa fa-plus"></i> Add an answer</a> button in the top right.
                        </div>
                        <div class="alert alert-info" ng-show="item.activ_config.answers.length>0">
                            The user will be able to select an answer among the list through a dropdown menu.<br/>
                            The "Is positive" checkbox is used by the reports to categorize answers. All answers can be positive or negative.
                        </div>
                    </div>

                    <div ng-if="item.activ_config.type=='BOOL'">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="3">Configuration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Value 1</td>
                                    <td><input class="form-control input-sm" ng-model="item.activ_config.value1" placeholder="Value 1 label"></td>
                                    <td><div class="checkbox"><label><input type="checkbox" ng-model="item.activ_config.value1Positive" ng-true-value="1" ng-false-value="0">Is positive</label></div></td>
                                </tr>
                                <tr>
                                    <td>Value 2</td>
                                    <td><input class="form-control input-sm" ng-model="item.activ_config.value2" placeholder="Value 2 label"></td>
                                    <td><div class="checkbox"><label><input type="checkbox" ng-model="item.activ_config.value2Positive" ng-true-value="1" ng-false-value="0">Is positive</label></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-info">
                            The answer can be selected between "Value 1" or "Value 2" label. <br/>
                            The "Is positive" checkbox is used by the reports to categorize answers. Both can be positive or negative.
                        </div>
                    </div>
                    <div class="alert alert-info" ng-if="item.activ_config.type=='DATE'">
                        The question will be answered by the user filling a date using a calendar
                    </div>
                    <div class="alert alert-info" ng-if="item.activ_config.type=='TEXT'">
                        The user will be provided a text box to type her answer. This type of activity is ignored in the reports.
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="$hide()">Cancel</button>
                <button class="btn btn-success" ng-click="save(item, $hide);">{{item[config.key] ? 'Save':'Create'}}</button>
            </div>

        </div>
    </div>
</div>

