<h1>
    Activities List
    <a class="btn btn-success btn-lg pull-right" ng-click="edit()"><i class="fa fa-plus"></i></a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list">
            <td>{{item.activ_label}}</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="edit(item)">
                        &nbsp;<i class="fa fa-pencil"></i>&nbsp;
                    </a>

                    <a class="btn btn-danger" ng-click="delete(npi)" disabled>
                        &nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!--<pre>{{list|json}}</pre>-->
<!--<pre>{{config|json}}</pre>-->