<h1>
    Wave List
    <a class="btn btn-success btn-lg pull-right" ng-click="edit()"><i class="fa fa-plus"></i></a>
</h1>
<table class="table" ng-if="dictionary.status">
    <thead>
        <tr>
            <th>Name</th>
            <th>Launch Date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list|filter:{_ke_npi: currentPkNpi}">
            <td>{{item.wave_name}}</td>
            <td>{{item.wave_launchDate|date:medium}}</td>
            <td>{{item.wave_deadLine|date:medium}}</td>
            <td>{{dictionary.status[item.wave_status]}}</td>
            <td>
                <a class="btn btn-success btn-block pull-right" ng-click="setStatus(item, 1)" ng-if="item.wave_status == 0">
                    &nbsp;<i class="fa fa-play"></i>&nbsp;Launch the wave&nbsp;
                </a>
                <a class="btn btn-warning btn-block pull-right" ng-click="setStatus(item, 2)" ng-if="item.wave_status == 1">
                    &nbsp;<i class="fa fa-stop"></i>&nbsp;Close the wave&nbsp;
                </a>
                <a class="btn btn-info btn-block pull-right" ng-click="setStatus(item, 1)" ng-if="item.wave_status == 2">
                    &nbsp;<i class="fa fa-bolt"></i>&nbsp;Reopen the wave&nbsp;
                </a>
            </td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="edit(item)">
                        &nbsp;<i class="fa" ng-class="{'fa-pencil':item.wave_status == 0, 'fa-search':item.wave_status>0}"></i>&nbsp;
                    </a>
                    <a class="btn btn-danger" ng-click="delete(item)" ng-disabled="item.wave_status>0">
                        &nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning" ng-show="!list.length && list!==null">You can add a new wave to this NPI by using the <a class="btn btn-success" ng-click="edit()"><i class="fa fa-plus"></i></a> button.</div>
<!--<pre>{{dictionary|json}}</pre>-->