<h1>
    Wave List
    <a class="btn btn-success btn-lg pull-right" ng-click="edit()"><i class="fa fa-plus"></i></a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in list">
            <td>{{item.wave_name}}</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="edit(item)">
                        &nbsp;<i class="fa fa-pencil"></i>&nbsp;
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-warning" ng-show="!list.length">You can add a new wave to this NPI by using the <a class="btn btn-success" ng-click="edit()"><i class="fa fa-plus"></i></a> button.</div>
<!--<pre>{{list|json}}</pre>-->