.table .form-control {
  margin-bottom: 0;
  margin-top: 0; }
.table .checkbox {
  margin-bottom: 5px;
  margin-top: 5px; }

.modal-activity textarea {
  resize: none;
  height: 150px; }

.modal-add-pos-to-wave .checkbox {
  margin: 0; }
