//For fixed navbar
body { padding-top: 70px; }

.table{
    .form-control{
        margin-bottom: 0;
        margin-top: 0;
    }
    .checkbox{

        margin-bottom: 5px;
        margin-top: 5px;
    }
}