//For fixed navbar
.input-search{
    position: fixed;
    top: 51px;
    z-index: 10;
    .form-control{
        border-radius: 0;
        border-right: 0;
    }
    .input-group-addon{
        border-radius: 0;
    }
}