.input-search {
  position: fixed;
  top: 51px;
  z-index: 10; }
  .input-search .form-control {
    border-radius: 0;
    border-right: 0; }
  .input-search .input-group-addon {
    border-radius: 0; }
