<h1>
    NPI List
    <a class="btn btn-success btn-lg pull-right" ng-click="edit()"><i class="fa fa-plus"></i></a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Product</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="npi in list|orderBy:'npi_label'">
            <td>{{npi.npi_label}}</td>
            <td>{{npi.npi_product_level1}}</td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-primary" ng-click="edit(npi)">
                        &nbsp;<i class="fa fa-pencil"></i>&nbsp;
                    </a>
                    <a class="btn btn-primary" ng-click="open(npi)">
                        <i class="fa fa-list"></i> View waves
                    </a>

                    <a class="btn btn-danger" ng-click="delete(npi)" disabled>
                        &nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>